*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

.ms_headerboxright
.fas:hover{
    color: white;
    cursor: pointer;
}

.ms_headerboxleft
.fas:hover{
    color: white;
    cursor: pointer;
}

/*container principali*/
.container {
    margin: auto;
    width: 70%;
    margin-top: 50px;
    height: 750px;
    border: 1px solid gray;
}

.ms_leftside{
    float: left;
    width: 35%;
    border-right: 1px solid gray;
    height: 100%;
    background-color: #121c20;
}

.ms_rightside{
    float: right;
    width: 65%;
    height: 100%;
    background: url(https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg);
    background-size: contain;
    position: relative;
}

/*div  interni*/

.ms_headerboxleft{
    height: 55px;
    background-color: #2b2f32;
}

.ms_chat{
    height: 70px;
    background-color: #323739;
}


.ms_testochatmignatura{
    margin-top: 50px;
    color: white;
}

.ms_nomepersona{
    margin: 0;
    margin-left: 80px;
    color: white;
    padding-top: 18px;
}

.ms_nomepersona h3{
    margin-top: 80px;
    color: white;
}


.ms_testochatmignatura span{
    margin-top: 50px;
}


.ms_headerboxleft .fas{
    font-size: 17px;
    color: #b1b2b4;
    float: right;
    margin-top: 15px;
    padding-left: 25px;
}

.ms_headerboxright .fas{
    font-size: 17px;
    color: #b1b2b4;
    float: right;
    margin-top: 15px;
    margin-right: 25px;
}

.imgbox{
    float: left;
}

.fa-comment-alt{
    margin-right: 20px;
}

.ms_headerboxright{
    height: 55px;
    background-color: #2b2f32;
}

.ms_boxnotifiche{
    height: 85px;
    background-color: rgb(120, 170, 187);
}

.ms_profilo{
    display: inline-block;
    margin: 10px 20px;
    border-radius: 35px;
    height: 35px;
    width: 35px;
    background-size: contain;
    background-color: white;
}

.ms_profiloprincipale{
    float: left;
    border-radius: 35px;
    margin: 10px 20px;
    height: 45px;
    width: 45px;
    background-color: white;
}

.ms_bell{
    float: left;
    padding: 11px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 150px;
    margin-right: 4px;
}

.fa-microphone{
    font-size: 17px;
    color: #b1b2b4;
}

.fa-bell-slash{
    font-size: 20px;
}


.box_scritte{
    padding: 20px 55px;
}

.box_scritte p  {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.box_scritte span {
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

.ms_search{
    background-color: #121c20;
    height: 45px;
    border-bottom: 0.5px solid gray;
}

.ms_chatbox{
    height: calc(100% - 105px);
    overflow-y: auto;
}

.ms_input{
    width: 90%;
    height: 25px;
    margin: 10px 20px;
    border: 0;
    border-radius: 10px;
    background-color: #2A2F32;
    color: gray;
}

.ms_inputmessaggio{
    width: 90%;
    height: 35px;
    margin: 7px 15px;
    padding-left: 10px;
    border: 0;
    background-color: #2A2F32;
    color: gray;
    border-radius: 15px;
}

.ms_containermessaggio{
    height: 50px;
    background-color:#121c20;
    bottom: 0;
    width: 100%;
}

.ms_infocontatto{
    height: 70px;
    border-bottom: 1px solid gray;
}

.ms_ricevuto{
    display: block;
    
    color: white;
    border-radius: 10px;
    min-width: 80%;
}

.ms_inviato{
    float: right;
    color: white;
    min-width: 100%;
}

.ms_chatboxleft{
    padding: 10px 10px 8px 9px;
    margin: 8px 7px 50px 20px ;
    min-height: 30px;
    min-width:100px;
    float: left;
    background-color: #2A2F32;
    border-radius: 10px;
    color: white;
}
.ms_chatboxright{
    padding: 10px 10px 8px 9px;
    margin: 50px 7px 55px 20px ;
    background-color: rgba(4, 96, 98);
    min-width: 100px;
    float: right;
    border-radius: 10px;
    color: white;
}

.ms_boxchat{
    height: calc(100% - 105px);
}