<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- Container generale che contiene tutto -->
    <div id="app"  class="container">
        <!-- parte SINISTRA del container -->
        <div class="ms_leftside">
        <!-- parte superiore della parte SINISTRA  -->
        <div class="ms_headerboxleft">
            <div class="imgbox">
                <img class="ms_profilo" src="img/angry_pepe.jpg" alt="">
            </div>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-undo"></i>
        </div>
            <!-- box azzurro delle notifiche  -->
        <div class="ms_boxnotifiche">
            <div class="box_scritte">
                <div class="ms_bell">
                    <i class="far fa-bell-slash"></i>
                </div>
                <p>Ricevi notifiche di  nuovi messaggi</p>
                <span>Attiva notifiche Desktop</span>
            </div>  
        </div>
            <!-- Input search bar per cercare le chat   -->
        <div class="ms_search">
            <input @keyup="search" v-model="valorericerca"  class="ms_input" type="text" id="search"  placeholder="&#128270;Crea o inizia una nuova chat">
        </div>

        <div v-for="(persona, indice) in contacts" 
        :class="{none:!persona.visible}" 
        @click="scegliutente(indice)"  
        class="ms_chat">
            <img class="ms_profiloprincipale"   :src="persona.avatar" alt="">
            <h3 class="ms_nomepersona">{{ persona.name }} </h3>
            <span v-if="persona.messages.length > 0" class="ms_testochatmignatura">{{ persona.messages.at(-1).text }}</span>
            <span class="ms_data" v-if="persona.messages.length > 0">{{ persona.messages.at(-1).date }}</span>
        </div>
        </div>
        <!-- parte DESTRA del container  -->
        <div     class="ms_rightside">
            <!-- parte superiore della parte DESTRA  -->
            <div v-if="corrente != null"  class="ms_headerboxright">

                <div    class="ms_headerboxleftside">
                    <img  class="ms_profilo"  :src="contacts[corrente].avatar" alt="">
                    <span class="ms_mionome">{{contacts[corrente].name}}</span>
                </div>
                <div  class="ms_headerboxrightside">
                    <i class="fas fa-ellipsis-v"></i>
                    <i class="fas fa-search"></i>
                </div>

            
                
            </div>
            <div v-if="corrente != null"  class="ms_boxchat" > 
                <div 
                v-for="(messaggi, indice) in contacts[corrente].messages" 
                class="ms_inviato" 
                :class="messaggiricevuti(indice)">
                    {{messaggi.text}}
                    <i @click="dropdown(indice)"   class="dropbtn fas fa-sort-down"></i>
                        <div  id="myDropdown" class="dropdown-content"   :class="{display: dropDownCorrente == indice}" >
                            <a href="#">Info Messaggio</a>
                            <a v-on:click="cancellazioneMessaggi(corrente, indice)"  href="#">Rimuovi Messaggio</a>
                        </div>
                    <div class="ms_data">
                        {{messaggi.date}}
                    </div>
                </div>
            </div>
            <div v-else class="ms_nochat">
                <img src="/img/noconnection.jpg" alt="">
                <h1>Mantieni il telefono connesso</h1>
                <span>WhatsApp si collega al tuo telefono per sincronizzare i messaggi.
                Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.</span>
                <p>Chiama da desktop con WhatsApp per Windows. </p>
            </div>
                
            <div v-if="corrente != null" class="ms_containermessaggio">
                <i class="far fa-smile"></i>
                <input @keyup.enter="nuovoMessaggio" v-model="messaggioVuoto" class="ms_inputmessaggio" type="text" id="search"  placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </div>
            
        </div>
        
    </div>




















    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/myscript.js"></script>
</body>
</html>